button {
  width: 144px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  letter-spacing: 1px;
  outline: none;
  cursor: pointer;

  &:active {
    opacity: 0.95;
  }
}

.adding {
  padding: 11px 0;
  background-color: #55555585;
  color: #f65261;
}

.search {
  width: 198px;
  padding: 16px 0;
  background-color: #f65261;
  color: #fff;
}

.confirm {
  padding: 12px 0;
  background-color: #f65261;
  color: #fff;
}

.reset {
  padding: 11px 0;
  background-color: transparent;
  border: 1px solid #f65261;
  color: #f65261;
}

.disabled {
  padding: 11px 0;
  background-color: #55555585;
  border: 1px solid #fff;
  cursor: auto;
}
