.container {
  position: relative;
  padding: 48px 0 0 56px;
  display: flex;
  height: 424px;
  width: 100%;
}

img {
  width: 240px;
  height: 340px;
}

.info {
  margin: 0 0 0 64px;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.name_and_rating {
  display: flex;
  align-items: center;
}

.name {
  font-size: 44px;
  font-weight: normal;
}

.rating {
  margin: 0 0 0 16px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 28px;
  color: green;
}

.duration_and_release {
  padding: 12px 0;
  display: flex;
  font-size: 28px;
  color: #f65261;
}

.runtime {
  margin: 0 0 0 32px;
}

.noneVisible {
  display: none;
}

.overview {
  padding: 0 64px 0 0;
  font-size: 20px;
  overflow-y: auto;
}

.search_icon {
  position: absolute;
  right: 0;
  top: 0;
  color: #f65261;
  font-size: 24px;
  transform: rotate(90deg);
  cursor: pointer;
}

.not_found {
  flex: 1;
  text-align: center;
  align-self: center;
  font-size: 64px;
  color: #fff;
}
