.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.menu {
  display: none;

  &_opened {
    display: block;
  }
}

.poster {
  position: relative;
  padding-top: 148%;
  overflow: hidden;
  cursor: pointer;

  & img {
    position: absolute;
    top: 0;
    min-width: 100%;
    height: auto;
    object-fit: cover;
    color: #fff;
    text-align: center;
  }

  &:hover .menu {
    display: block;
  }
}

.movie__data {
  padding: 8px 8px 0 8px;
  display: flex;
  justify-content: space-between;
  background-color: #232323;

  &_info {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    &_title {
      margin: 0 0 4px 0;
      font-size: 18px;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #ffffff7a;
    }

    &_genres {
      font-size: 14px;
      overflow-x: hidden;
      text-overflow: ellipsis;
      text-transform: capitalize;
      white-space: nowrap;
      color: #555;
    }
  }

  &_date {
    font-size: 14px;
    margin: 5px 0 0 0;
    color: #ffffff7a;

    & span {
      padding: 0 8px;
      border: 1px solid #555;
      border-radius: 5px;
    }
  }
}
