.container {
  width: 100%;
  position: relative;
  min-height: 360px;
  background-color: #000b;
  margin: 0 0 10px 0;
  padding: 0 48px;

  &_shadow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../../static/images/movies-background.jpg');
    background-size: cover;
    filter: blur(2px);
    z-index: -1;
  }
}

.section {
  height: 100%;
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 18px 0;
}

.logo {
  position: absolute;
  font-size: 22px;
  line-height: 22px;
  color: #f65261;
  cursor: pointer;
  z-index: 50;
}
