.adding {
  padding: 12px;
  background-color: #55555585;
  color: #f65261;
}

.search {
  width: 198px;
  padding: 16px 0;
  background-color: #f65261;
  color: #fff;
}

.confirm {
  padding: 12px;
  background-color: #f65261;
  color: #fff;
}

.reset {
  padding: 11px 0;
  background-color: transparent;
  border: 1px solid #f65261;
  color: #f65261;
}

.disabled {
  padding: 11px 0;
  background-color: #55555585;
  border: 1px solid #fff;
  cursor: auto;
}

.back_home {
  padding: 16px 24px;
  width: 240px;
  align-self: center;
  background-color: transparent;
  border: 1px solid #f65261;
  color: #f65261;
}
