.container {
  position: relative;
  margin: 8px 0 0 0;
}

.select {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  background-color: #232323c9;
  border-radius: 5px;
  font-size: 24px;
  line-height: 48px;
  cursor: pointer;
}

.value {
  color: #fff;
  text-transform: capitalize;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  user-select: none;
}

.default_value {
  color: #a9a9a9c0;
}

.arrow {
  color: #f65261;
  font-size: 16px;
}

.dropdown {
  position: absolute;
  display: none;
  left: 0;
  top: 50px;
  width: 100%;
  max-height: 210px;
  overflow-y: scroll;
  border-radius: 5px;
  background-color: #232323;
  z-index: 50;
}

.visible {
  display: block;
}

.open {
  transform: rotate(180deg);
}

.input {
  display: flex;
  align-items: baseline;
  font-size: 22px;
  line-height: 42px;
  color: #fff;
}

.lable {
  display: inline-flex;
  align-items: center;
  user-select: none;
  color: #a9a9a9c0;

  &::before {
    content: '';
    width: 14px;
    height: 14px;
    border: 1px solid #adb5bd;
    border-radius: 4px;
    margin: 0 8px 0 12px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 75% 75%;
    background-color: #fff;
  }

  & span {
    text-transform: capitalize;
  }
}

@media (max-width: 768px) {
  .input {
    font-size: 20px;
    line-height: 40px;
  }

  .select {
    font-size: 20px;
    line-height: 40px;
  }
}
