.label {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input {
  margin: 8px 0 0 0;
  padding: 0 16px;
  background-color: #232323c9;
  border-radius: 5px;
  border-width: 0;
  font-size: 24px;
  line-height: 48px;
  color: #fff;
  outline: none;
}

.error {
  position: absolute;
  bottom: -16px;
  font-size: 12px;
  right: 0;
}

@media (max-width: 768px) {
  .input {
    font-size: 20px;
    line-height: 40px;
  }
}
