.container {
  flex-grow: 1;
  background-color: #232323;
  padding: 20px 48px 32px;
}

.section {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: 0 auto;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 32px;
}

.result__count {
  padding: 16px 0;
  font-size: 18px;
  color: #ffffffc2;

  &_number {
    font-weight: 700;
    margin: 0 5px 0 0;
  }
}

.not_found {
  font-size: 56px;
  align-self: center;
  color: #ffffffc2;
}

@media (max-width: 1024px) {
  .list {
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  }

  .result__count {
    font-size: 16px;
  }

  .not_found {
    font-size: 52px;
  }
}

@media (max-width: 768px) {
  .not_found {
    font-size: 50px;
  }

  .result__count {
    font-size: 14px;
    padding: 8px;
  }

  .container {
    padding: 20px 36px 32px;
  }
}
