.container {
  padding: 0 0 0 56px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 216px;
}

.search_btn {
  align-self: flex-end;
}

.title {
  font-size: 48px;
  font-weight: 400;
  color: #fff;
}

.form {
  display: flex;
  padding: 0 24px 0 0;
  max-width: 1024px;
}

.input {
  margin: 0 16px 0 0;
  width: 80%;
  height: 53px;
  padding: 0 0 0 24px;
  background-color: #232323c9;
  border-radius: 5px;
  border-width: 0;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  outline: none;

  &::placeholder {
    color: #424242;
  }
}

.add_btn {
  align-self: flex-end;
}

@media (max-width: 1024px) {
  .title {
    font-size: 42px;
  }

  .input {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (max-width: 1024px) {
  .title {
    font-size: 38px;
  }

  .input {
    height: 46px;
  }
}
